/*body{margin: 0 10%;}
main{background-color: #f9f2e3;}*/
:root {
  --main-color: #881616;
  --second-color: #f0b76e;
  --main-color-alpha: #881616c4;
  --second-color-alpha: #f0b76e91;
  --grey: #939191;
}

body{margin: 0; font-family:'Fira Sans',Verdana,Tahoma,sans-serif; background-color:#e6e3e3;}


.bandeau{height: 500px; width; auto; margin-left: 10%; margin-top:50px;}
.bandeau_landscape{width:100%; background-image: url("./images/paysage.jpg");height: 100vh;background-repeat: no-repeat;background-size: cover; max-height: 800px;
  border-bottom-left-radius: 250% 460px;
    border-bottom-right-radius: 250% 460px;box-shadow: 0px 5px 5px var(--grey);}
.filter_bandeau{background-color: rgba(230, 202, 138, 0.89);background-color: rgba(66, 65, 63, 0.62);border-bottom-right-radius: 450% 400px;}
.title_bandeau{margin-left: 25%;margin-right: 15%;color: var(--main-color);border-left:0;width: 50%;  height: 250px;  margin-top: 25%;}
.title_bandeau h1{font-weight: 600;font-size: 50px;}
.information_bandeau{color: black; font-size: 20px; font-style: italic;}


.container_bulle{margin-top: -120px;}
.bulle_info{background-color: var(--second-color-alpha); border-radius: 180px; padding: 20px;height: 200px; width: 200px;cursor: pointer;color: black; text-decoration: none;}
.bulle_info:nth-child(even){background-color: var(--main-color-alpha);}
.bulle_info:hover{background-color: var(--second-color);}
.bulle_info:nth-child(even):hover{background-color: var(--main-color);}
.bulle_title{font-weight: bold; font-size: 16px;}
.bulle_content{font-size:12px;}


article{border-radius: 5px;  box-shadow: 5px 5px 20px var(--grey);margin: 20px 8%; padding: 10px 10px;}
article h2{color: var(--main-color);}



.flexParent{display: flex; flex-direction: row;}
.flexHalf{width: 50%;}
.flexColumn{flex-direction: column;}
.flexAround{justify-content: space-around;}
.flexCenter{justify-content: center;}
.verticalAlign{margin-top: 50%; transform: translateY(-50%);}
.ml_10{margin-left: 10px;}
.mt_50{margin-top: 50px;}
.wp_25{width: 25%;}
.wp_100{width: 100%;}
.wp_75{width: 75%;}


footer{background-color:var(--main-color);height: 100px; width: 100%; color: white; text-align: center;}

@media screen and (max-width: 800px) {
  .filter_bandeau{width: 100%; height:100%; border-bottom-right-radius: 850% 1560px;
  border-bottom-left-radius: 850% 1560px;}
  .bandeau_landscape{height: 50vh;}
  .title_bandeau{width: 100vw;margin: 0;transform: none;  margin-top: 10px;height:100%;}
  .title_bandeau > div{margin-right: 25%; margin-left: 10%;}
  .flexParent{flex-direction: column;width: 100%;align-items: center;}
  .container_bulle{margin-top:0;}
  .bulle_info{box-shadow: 5px 5px 10px var(--grey);}
}
